body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  list-style: none; }

s
ul, ol {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.floatLeft {
  float: left;
  padding: .5em .5em .5em 0; }

.floatRight {
  float: right;
  padding: .5em 0 .5em .5em; }

img {
  width: 100px; }

* {
  font-family: 'Roboto', sans-serif; }

.main_wrapper {
  width: 100%;
  color: #000000;
  font-size: 15px; }

.nav_and_header {
  background: radial-gradient(#ffffff, #c5c5c5);
  display: grid;
  grid-template-rows: 13% 87%;
  width: 100%;
  height: 750px; }

.navbar {
  display: flex;
  align-items: center; }
  .navbar .img_logo {
    width: 140px;
    margin-left: 160px; }
  .navbar nav {
    height: 50px;
    display: flex;
    flex: 1;
    justify-content: end; }
    .navbar nav ul {
      width: 100%;
      display: flex;
      justify-content: end;
      height: 100%; }
      .navbar nav ul li {
        display: flex;
        justify-content: baseline;
        height: 100%; }
        .navbar nav ul li a {
          margin-right: 10px;
          padding: 15px;
          display: flex;
          align-items: center;
          justify-content: center; }
  .navbar .img_shop-cont {
    margin-right: 160px; }
    .navbar .img_shop-cont .img_shop {
      width: 45px; }

.cont-productos {
  width: 100%;
  color: #000000;
  font-size: 16px;
  font-weight: 300; }

.nav2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131313;
  padding: 25px 0; }
  .nav2 .link_img_logo {
    width: 150px;
    margin-left: 120px; }
    .nav2 .link_img_logo .img_logo {
      width: 150px; }
  .nav2 .buscador {
    width: 500px;
    height: 40px;
    padding-left: 42px;
    border-radius: 20px;
    outline: none;
    border: 3px solid #4c0053;
    background: #fff url("../assets/images/ico/ico-busqueda4.png") no-repeat 5px; }
  .nav2 nav ul {
    display: flex;
    align-items: center;
    gap: 30px; }
    .nav2 nav ul li a {
      color: #ffffff;
      font-size: 17px;
      font-weight: 400; }
  .nav2 .img_shop2 {
    width: 40px;
    margin-right: 100px; }

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center; }
  header .header-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    header .header-text .header-text_cont {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-left: 160px;
      gap: 28px;
      justify-content: center; }
      header .header-text .header-text_cont h1 {
        font-size: 40px;
        font-weight: 900; }

.btn-conoce {
  width: 90px;
  background: #3e015a;
  color: #fff;
  padding: 8px 30px;
  border-radius: 30px; }

.header-img {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header-img img {
    margin-right: 120px;
    width: 550px; }

main {
  width: 100%; }
  main .section_img {
    display: grid;
    grid-template-columns: 39% 22% 39%;
    width: 100%;
    height: 600px;
    background-color: #131313; }
    main .section_img .section_img-01 {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: end; }
      main .section_img .section_img-01 img {
        width: 270px; }
    main .section_img .section_img-02 {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center; }
      main .section_img .section_img-02 img {
        width: 270px; }
    main .section_img .section_img-03 {
      display: flex;
      height: 100%;
      align-items: center; }
      main .section_img .section_img-03 img {
        width: 270px; }
  main .section_mas_vendido {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; }
    main .section_mas_vendido h3 {
      text-align: center;
      font-size: 26px;
      margin: 100px 0 60px 0; }
    main .section_mas_vendido .sect_mv_cont {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 80px; }
      main .section_mas_vendido .sect_mv_cont .sect_mv_01 {
        height: 100%;
        align-items: center;
        justify-content: end; }
        main .section_mas_vendido .sect_mv_cont .sect_mv_01 img {
          width: 210px; }
        main .section_mas_vendido .sect_mv_cont .sect_mv_01 p {
          margin-bottom: 20px; }
        main .section_mas_vendido .sect_mv_cont .sect_mv_01 .btn {
          background: #008800;
          color: #fff;
          padding: 8px 30px;
          border-radius: 30px; }
      main .section_mas_vendido .sect_mv_cont .sect_mv_02 {
        height: 100%;
        align-items: center;
        justify-content: center; }
        main .section_mas_vendido .sect_mv_cont .sect_mv_02 img {
          width: 210px; }
        main .section_mas_vendido .sect_mv_cont .sect_mv_02 p {
          margin-bottom: 20px; }
        main .section_mas_vendido .sect_mv_cont .sect_mv_02 .btn {
          background: #008800;
          color: #fff;
          padding: 8px 30px;
          border-radius: 30px; }
      main .section_mas_vendido .sect_mv_cont .sect_mv_03 {
        height: 100%;
        align-items: center;
        justify-content: center; }
        main .section_mas_vendido .sect_mv_cont .sect_mv_03 img {
          width: 210px; }
        main .section_mas_vendido .sect_mv_cont .sect_mv_03 p {
          margin-bottom: 20px; }
        main .section_mas_vendido .sect_mv_cont .sect_mv_03 .btn {
          background: #008800;
          color: #fff;
          padding: 8px 30px;
          border-radius: 30px; }
      main .section_mas_vendido .sect_mv_cont .sect_mv_04 {
        height: 100%;
        align-items: center;
        justify-content: baseline; }
        main .section_mas_vendido .sect_mv_cont .sect_mv_04 img {
          width: 210px; }
        main .section_mas_vendido .sect_mv_cont .sect_mv_04 p {
          margin-bottom: 20px; }
        main .section_mas_vendido .sect_mv_cont .sect_mv_04 .btn {
          background: #008800;
          color: #fff;
          padding: 8px 30px;
          border-radius: 30px; }
  main .section_nuevos_productos {
    width: 100%;
    padding-bottom: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; }
    main .section_nuevos_productos h3 {
      text-align: center;
      font-size: 26px;
      margin: 120px 0 60px 0; }
    main .section_nuevos_productos .sect_np_cont {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 80px; }
      main .section_nuevos_productos .sect_np_cont .sect_np_01 {
        height: 100%;
        align-items: center;
        justify-content: end; }
        main .section_nuevos_productos .sect_np_cont .sect_np_01 img {
          width: 210px; }
        main .section_nuevos_productos .sect_np_cont .sect_np_01 p {
          margin-bottom: 20px; }
        main .section_nuevos_productos .sect_np_cont .sect_np_01 .btn {
          background: #008800;
          color: #fff;
          padding: 8px 30px;
          border-radius: 30px; }
      main .section_nuevos_productos .sect_np_cont .sect_np_02 {
        height: 100%;
        align-items: center;
        justify-content: center; }
        main .section_nuevos_productos .sect_np_cont .sect_np_02 img {
          width: 210px; }
        main .section_nuevos_productos .sect_np_cont .sect_np_02 p {
          margin-bottom: 20px; }
        main .section_nuevos_productos .sect_np_cont .sect_np_02 .btn {
          background: #008800;
          color: #fff;
          padding: 8px 30px;
          border-radius: 30px; }
      main .section_nuevos_productos .sect_np_cont .sect_np_03 {
        height: 100%;
        align-items: center;
        justify-content: center; }
        main .section_nuevos_productos .sect_np_cont .sect_np_03 img {
          width: 210px; }
        main .section_nuevos_productos .sect_np_cont .sect_np_03 p {
          margin-bottom: 20px; }
        main .section_nuevos_productos .sect_np_cont .sect_np_03 .btn {
          background: #008800;
          color: #fff;
          padding: 8px 30px;
          border-radius: 30px; }
      main .section_nuevos_productos .sect_np_cont .sect_np_04 {
        height: 100%;
        align-items: center;
        justify-content: baseline; }
        main .section_nuevos_productos .sect_np_cont .sect_np_04 img {
          width: 210px; }
        main .section_nuevos_productos .sect_np_cont .sect_np_04 p {
          margin-bottom: 20px; }
        main .section_nuevos_productos .sect_np_cont .sect_np_04 .btn {
          background: #008800;
          color: #fff;
          padding: 8px 30px;
          border-radius: 30px; }

.cont-productos main {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .cont-productos main .productos-titulo {
    margin: 60px 0;
    font-size: 30px;
    text-align: center; }
  .cont-productos main .cont-productos-main {
    width: 78%;
    margin-top: 20px;
    margin-bottom: 150px;
    gap: 120px;
    display: flex;
    flex-flow: wrap;
    justify-content: baseline;
    align-items: center; }
    .cont-productos main .cont-productos-main .sect_mv_01 {
      height: 100%;
      align-items: center;
      justify-content: end; }
      .cont-productos main .cont-productos-main .sect_mv_01 img {
        width: 195px; }
      .cont-productos main .cont-productos-main .sect_mv_01 p {
        margin-bottom: 20px; }
      .cont-productos main .cont-productos-main .sect_mv_01 .btn {
        background: #008800;
        color: #fff;
        padding: 8px 30px;
        border-radius: 30px; }

footer {
  width: 100%;
  height: 300px;
  color: #fff;
  background-color: #131313; }
  footer .footer_cont {
    height: 100%;
    display: grid;
    grid-template-columns: 40% 20% 40%; }
    footer .footer_cont .footer_cont-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      footer .footer_cont .footer_cont-1 .footer_cont-sn {
        display: flex;
        margin-top: 20px;
        gap: 20px; }
        footer .footer_cont .footer_cont-1 .footer_cont-sn img {
          width: 45px; }
    footer .footer_cont .footer_cont-2 {
      display: flex;
      justify-content: center; }
      footer .footer_cont .footer_cont-2 .footer_cont-2t {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%; }
        footer .footer_cont .footer_cont-2 .footer_cont-2t img {
          width: 200px;
          margin-bottom: 15px; }
        footer .footer_cont .footer_cont-2 .footer_cont-2t p {
          text-align: center;
          font-weight: 300;
          font-size: 14px; }
    footer .footer_cont .footer_cont-3 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 100px; }
      footer .footer_cont .footer_cont-3 .footer-cont-3p1 h4 {
        font-size: 18px; }
      footer .footer_cont .footer_cont-3 .footer-cont-3p1 li {
        margin: 7px 0; }
        footer .footer_cont .footer_cont-3 .footer-cont-3p1 li a {
          font-weight: 300;
          color: #fff;
          margin: 15px 0; }
      footer .footer_cont .footer_cont-3 .footer-cont-3p2 h4 {
        font-size: 18px; }
      footer .footer_cont .footer_cont-3 .footer-cont-3p2 li {
        margin: 7px 0; }
        footer .footer_cont .footer_cont-3 .footer-cont-3p2 li a {
          font-weight: 300;
          color: #fff;
          margin: 15px 0; }
