header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

    .header-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .header-text_cont {
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-left: 160px;
            gap: 28px;

            justify-content: center;

            h1 {
                font-size: 40px;
                font-weight: 900;
            }

        }

    }

}

.btn-conoce {
    width: 90px;
    background: #3e015a;
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
}

.btn-conoce:hover{
    background: #5f008b;
} 

.header-img {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    img {
        margin-right: 120px;
        width: 550px;

    }
}