.navbar{
    display: flex;
    align-items: center;

    .img_logo{
        width: 140px;
        margin-left: 160px;
    }

    nav{
        height: 50px;
        display: flex;
        flex: 1;
        justify-content: end;

        ul{width: 100%;
            display: flex;
            justify-content: end;
            height: 100%;

            li{
                display: flex;
                justify-content: baseline;
                height: 100%;

                a{
                    margin-right: 10px;
                    padding: 15px;
                    display: flex;
                    align-items:center ;
                    justify-content: center;
                }
            }
        }
    }

    .img_shop-cont{
        margin-right: 160px;
        .img_shop{
            width: 45px;
        }
    }


}
